@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
:root {
    --fin-black: rgba(26, 26, 26, 1);
    --fin-black-transparent: rgba(26, 26, 26, 0.5);
    --fin-white: rgba(255, 255, 255, 1);
    --fin-white-transparent: rgba(255, 255, 255, 0.2);
    --fin-blue-1: rgba(3, 100, 255, 1);
    --fin-blue-2: rgba(48, 98, 178, 1);
    --fin-pink: rgba(233, 64, 87, 1);
    --fin-orange: rgba(242, 113, 33, 1);
    --fin-gradient: linear-gradient(25deg, var(--fin-pink), var(--fin-orange));
    --fin-neutral-1: rgba(102, 100, 100, 1);
    --fin-neutral-2: rgba(117, 117, 117, 1);
    --fin-neutral-3: rgba(148, 148, 148, 1);
    --fin-neutral-4: rgba(172, 172, 172, 1);
    --fin-neutral-4-transparent: rgba(172, 172, 172, 0.2);
    --fin-neutral-5: rgba(205, 205, 205, 1);
    --fin-neutral-6: rgba(233, 233, 233, 1);
    --fin-neutral-7: rgba(245, 245, 245, 1);
    --fin-green: rgb(0, 128, 0, 1);
    --fin-red: rgba(161, 10, 40, 1);
}

html {
    min-width: 39.6875rem;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: Inter, sans-serif;
    color: var(--fin-black);
}

h1,
h2,
h3,
p {
    margin: 0.5rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-size: 1.125rem;
    color: var(--fin-neutral-1);
    font-weight: 400;
}

a,
a:hover {
    text-decoration: none;
    color: var(--fin-blue-2);
}

.float-right {
    float: right;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.column:not(:last-child) {
    padding-right: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
}